.carousel-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  width: 100%;
}

.carousel-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 15px;
  padding-left: 0;
  
}

.carousel-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(87, 87, 87);
  border-radius: 8px;;
}

.carousel-swiper {
  padding: 1rem;
}

.carousel-slide {
  width: 185px;
  flex-shrink: 0;
}

.carousel-viewport {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem; 
}

.carousel-viewport::-webkit-scrollbar {
  display: none; 
}

.carousel-card {
  flex: 0 0 185px;
  margin-right: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-color);
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
  scroll-snap-align: start;
  position: relative;
  text-decoration: none;
}

.carousel-card:last-child {
  margin-right: 0;
}

.carousel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.carousel-card img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.carousel-card-info {
  padding: 12px;
  background-color: #b3b3b3;
  margin-top: 5px;
  border-radius: 15px;
}

.actor-name {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}

.character-name {
  font-size: 0.85rem;
  color: #000000;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Swiper navigation styles */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.carousel-container .carousel-arrow.prev,
.carousel-container .carousel-arrow.next {
  position: absolute;
  top: calc(50% - 20px); 
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s, opacity 0.3s;
}

.carousel-container .carousel-arrow.prev:hover,
.carousel-container .carousel-arrow.next:hover {
  background: #ffffff;
}

.carousel-container .carousel-arrow.prev {
  left: 5px;
}

.carousel-container .carousel-arrow.next {
  right: 5px;
}