.lan-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  backdrop-filter: blur(5px);
}

.lan-modal-content {
  background-color: var(--background-color);

  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 380px;
  border: 1px solid var(--border-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.language-button {
  background: #fff;
  border: 1px solid var(--border-color);;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.language-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}