.person-page {
    color: #fff;
}

.person-header {
    background: #111;
    padding: 2rem;
}

.person-header-content {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.person-header-content img {
    width: 300px;
    border-radius: 8px;
}

.person-info {
    color: #fff;
}

.person-info h1 {
    margin-top: 0;
    color: #fff;
}

.person-info h3 {
    color: #fff;
    text-align: left;
}

.person-info p {
    text-align: justify;
}

.person-details {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 770px) {
    .media-header-overlay {
        padding: 1rem;
    }

    .media-header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .media-header-content img {
        width: 70%;
        max-width: 250px;
        margin-bottom: 1rem;
    }

    .media-info h1 {
        font-size: 1.5rem;
    }

    .genres {
        justify-content: center;
    }

    .media-details {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

}