.person-header {
    background: #111;
    padding: 2rem;
}

.person-header-content {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.person-header-content img {
    width: 300px;
    border-radius: 8px;
}

.person-info h1 {
    margin-top: 0;
    color: #fff;
}

.person-info h3 {
    color: #fff;
    text-align: center;
}

.person-info p {
    text-align: center;
    color: #ddd;
}

.person-details {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1272px) {
    .person-header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .person-header-content img {
        width: 50%;
        max-width: 200px;
        margin-bottom: 1rem;
        min-width: 150px;
        min-height: 250px;
    }

    .person-info h1 {
        font-size: 1.5rem;
    }

    .person-details {
        padding: 1rem;
    }

}