:root {

  --background-color-dark: #000000;
  --text-color-dark: #e0e0e0;
  --title-color-dark: #FFC107;
  --surface-color-dark: #000000;
  --primary-color-dark: #FFC107;
  --border-color-dark: #FFC107;
  --input-background-color-dark: #000000;

  --background-color-light: #f0f2f5;
  --text-color-light: #1c1e21;
  --title-color-light: #1c1e21;
  --surface-color-light: #ffffff;
  --primary-color-light: #ffc107;
  --border-color-light: #3a3b3c;
  --input-background-color-light: #ffffff;

  --primary-variant-color: #f6de8f;
  --secondary-color: #03dac6;
  --error-color: #ff0000;
  --success-color: #008000;
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --title-color: var(--title-color-dark);
  --surface-color: var(--surface-color-dark);
  --primary-color: var(--primary-color-dark);
  --border-color: var(--border-color-dark);
  --input-background-color: var(--input-background-color-dark);
}

[data-theme='light'] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --title-color: var(--title-color-light);
  --surface-color: var(--surface-color-light);
  --primary-color: var(--primary-color-light);
  --border-color: var(--border-color-light);
  --input-background-color: var(--input-background-color-light);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--text-color);
}

.App {
  text-align: center;
}
